@font-face {
  font-family: "slussen_stencilbold";
  src: url("https://assets.codepen.io/174183/slussen-stencil-bold-webfont.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-light: #fbf3ea;
  --color-light-glare: #fff9f2;
  --color-dark: #122932;
  --color-dark-glare: #154254;
  --color-primary: #b43741;

  --radius: 0.25rem;

  /* Type scale https://utopia.fyi/type/calculator?c=320,16,1.125,1200,20,1.381,7,1,&s=,1.5%7C2%7C3%7C4%7C6,l-3xl */
  --step--1: clamp(0.91rem, calc(0.88rem + 0.03vw), 0.89rem);
  --step-0: clamp(1rem, calc(0.91rem + 0.45vw), 1.25rem);
  --step-1: clamp(1.13rem, calc(0.91rem + 1.09vw), 1.73rem);
  --step-2: clamp(1.27rem, calc(0.86rem + 2.03vw), 2.38rem);
  --step-3: clamp(1.42rem, calc(0.74rem + 3.4vw), 3.29rem);
  --step-4: clamp(1.6rem, calc(0.53rem + 5.35vw), 4.55rem);
  --step-5: clamp(1.8rem, calc(0.17rem + 8.14vw), 6.28rem);
  --step-6: clamp(2.03rem, calc(-0.39rem + 12.08vw), 8.67rem);
  --step-7: clamp(2.28rem, calc(-1.24rem + 17.63vw), 11.98rem);

  /* Space scale https://utopia.fyi/space/calculator?c=320,16,1.125,1200,20,1.381,7,1,&s=,1.5%7C2%7C3%7C4%7C6,l-3xl */
  --space-xs: clamp(0.5rem, calc(0.45rem + 0.23vw), 0.63rem);
  --space-s: clamp(1rem, calc(0.91rem + 0.45vw), 1.25rem);
  --space-m: clamp(1.5rem, calc(1.36rem + 0.68vw), 1.88rem);
  --space-l: clamp(2rem, calc(1.82rem + 0.91vw), 2.5rem);
  --space-xl: clamp(3rem, calc(2.73rem + 1.36vw), 3.75rem);
  --space-2xl: clamp(4rem, calc(3.64rem + 1.82vw), 5rem);
  --space-3xl: clamp(6rem, calc(5.45rem + 2.73vw), 7.5rem);

  /* Space scale one-up pairs */
  --space-s-m: clamp(1rem, calc(0.68rem + 1.59vw), 1.88rem);
  --space-m-l: clamp(1.5rem, calc(1.14rem + 1.82vw), 2.5rem);
  --space-l-xl: clamp(2rem, calc(1.36rem + 3.18vw), 3.75rem);
  --space-xl-2xl: clamp(3rem, calc(2.27rem + 3.64vw), 5rem);
  --space-2xl-3xl: clamp(4rem, calc(2.73rem + 6.36vw), 7.5rem);

  /* Space scale custom pairs */
  --space-l-3xl: clamp(2rem, calc(0rem + 10vw), 7.5rem);
}

/* Global CSS */
body{
    background: var(--color-light);
    color: var(--color-dark);
    font-family: "Georgia";
    font-size: var(--step-0);
    padding-block: var(--space-l);
}

h1, h2 {
    font-family: "slussen_stencilbold", sans-serif;
    color: var(--color-primary);
    font-size: var(--step-4);
    line-height: 1.1;
}

h3 {
    font-family: "Segeo UI", "Roboto", "Helvetica Neue", "Ariel", "sans-serif";
    font-size: var(--step-2);
    color: var(--color-dark-glare);
    line-height: 1.2;

}

p {
    max-width: 55ch;
}

[role="list"] {
    padding: 0;
    list-style-type: none;
}


[role="contentinfo"]{
    margin-block-start: var(--space-l-3xl);
    font-size: var(--step--1);
}

a {
    color: currentColor;
    text-decoration-color: var(--color-primary);
}


/* Blocks */
.header {
    font-style: italic;

}

.header__display-text {
    --flow-space: var(--space-s);
    font-family: "slussen_stencilbold", sans-serif;
    color: var(--color-primary);
    font-style: normal;
    font-size: var(--step-4);
    line-height: 1.1;
}

.header__display-text:first-of-type {
    font-size: var(--step-7);
}

.header__display-text:first-of-type + *{
    --flow-space:var(--space-xs);
}

.steps {
    --flow-space: var(--space-l);
    --grid-min-item-size: 18rem;

}

.card {
    --flow-space: var(--space-s);
    padding: var(--space-s);
    border: 1px dashed var(--color-dark-glare);
    border-radius: var(--radius);
    background: var(--color-light-glare);
    font-size: var(--step--1);
}

/* Compositions */
.auto-grid {
    display: grid;
    grid-template-columns: repeat(
        var(--grid-placement, auto-fill),
        minmax(var(--grid-min-item-size, 16rem), 1fr)
    );
    gap: var(--gutter, var(--space-s));
}


.cluster {

    display: flex;
    flex-wrap: wrap;
    gap: var(--gutter, var(--space-s));
    justify-content: var(--cluster-horizontal-alignment, flex-start);
    align-items: var(--cluster-vertical-alignment, center);
}

/* Utilities */
.flow  > * + *  {
    margin-top: var(--flow-space, 1em);
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.wrapper {
    margin-inline: auto;
    padding-inline:  var(--space-m);
    max-width: 75rem;
    position: relative;
}


/* 
:root { 
  --space-3xs: clamp(0.31rem, calc(0.29rem + 0.12vw), 0.38rem);
  --space-2xs: clamp(0.69rem, calc(0.66rem + 0.12vw), 0.75rem);
  --space-xs: clamp(1.00rem, calc(0.95rem + 0.24vw), 1.13rem);
  --space-s: clamp(1.31rem, calc(1.24rem + 0.37vw), 1.50rem);
  --space-m: clamp(2.00rem, calc(1.90rem + 0.49vw), 2.25rem);
  --space-l: clamp(2.63rem, calc(2.48rem + 0.73vw), 3.00rem);
  --space-xl: clamp(3.94rem, calc(3.72rem + 1.10vw), 4.50rem);
  --space-2xl: clamp(5.25rem, calc(4.96rem + 1.46vw), 6.00rem);
  --space-3xl: clamp(7.88rem, calc(7.44rem + 2.20vw), 9.00rem); */

  /* One-up pairs */
  /* --space-3xs-2xs: clamp(0.31rem, calc(0.14rem + 0.85vw), 0.75rem);
  --space-2xs-xs: clamp(0.69rem, calc(0.52rem + 0.85vw), 1.13rem);
  --space-xs-s: clamp(1.00rem, calc(0.80rem + 0.98vw), 1.50rem);
  --space-s-m: clamp(1.31rem, calc(0.95rem + 1.83vw), 2.25rem);
  --space-m-l: clamp(2.00rem, calc(1.61rem + 1.95vw), 3.00rem);
  --space-l-xl: clamp(2.63rem, calc(1.89rem + 3.66vw), 4.50rem);
  --space-xl-2xl: clamp(3.94rem, calc(3.13rem + 4.02vw), 6.00rem);
  --space-2xl-3xl: clamp(5.25rem, calc(3.79rem + 7.32vw), 9.00rem); */

  /* Custom pairs */
  /* --space-l-3xl: clamp(2.63rem, calc(0.14rem + 12.44vw), 9.00rem);
} */